[Desktop Entry]
Encoding=UTF-8
Name=Link to Diagrama.pdf
Type=Link
URL=https://github.com/Ecxpectro/faculdade-trabaalho-locadora/blob/main/faculdade-trabaalho-locadora/diagrams/Diagrama.pdf
Icon=text-html
