[Desktop Entry]
Encoding=UTF-8
Name=Link to Relatorio.txt
Type=Link
URL=https://github.com/Ecxpectro/faculdade-trabaalho-locadora/blob/main/faculdade-trabaalho-locadora/diagrams/Relatorio.txt
Icon=text-html
